  
{% extends 'base.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
 <h1>{{ blog.title }}</h1>
 <p>{{ blog.body }}</p>
 <hr>
 <a href="/admin">Go Back</a>
{% endblock %}